{
  "singleQuote": true,
  "printWidth": 90,
  "useTabs": false,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "tabWidth": 2
}